<configuration>
    <appSettings>
        <add key="RegSteamFolder" value="Software\Valve\Steam"/>
        <add key="SteamConfigFolder" value="\steamapps\common\dota 2 beta\game\dota\cfg\gamestate_integration"/>
        <add key="ServerLogPath" value="\steamapps\common\dota 2 beta\game\dota\server_log.txt"/>
        <add key="FileName" value="\dota_ally_notes_gsi.cfg"/>
        <add key="GSIPort" value="4000"/>
        <add key="SteamAPIKey" value="84DBE28C04E144156265BE9E9929A043" />
    </appSettings>
</configuration>