<configuration>
    <appSettings>
        <add key="RegSteamFolder" value="Software\Valve\Steam"/>
        <add key="SteamConfigFolder" value="\steamapps\common\dota 2 beta\game\dota\cfg\gamestate_integration"/>
        <add key="FileName" value="\dota_ally_notes_gsi.cfg"/>
    </appSettings>
</configuration>